<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="cart"><a th:href="@{/store/cart}">Img</a></div>
</header>
<div class="each" th:each="product: ${products}">
    <form th:method="post" th:action="@{/store/addToCart/{idProduct}(idProduct = ${product.getId()})}">
        <div class="card" style="width: 18rem;">
            <img th:src="@{'data:image/png;base64,'+${product.getImageFromBytes()}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" th:text="${product.productTitle}"></p>
                <p class="card-text" th:text="${product.description}"></p>
                <p class="card-text" th:text="${product.price}"></p>
                <input id="form1" min="0" name="quantity" value="1" type="number"
                       class="form-control form-control-sm" />
                <button type="submit">В корзину</button>
            </div>
        </div>
    </form>
</div>
<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>